<mat-toolbar>
  <button mat-button (click)="goHome()">Quackr</button>

  <div *ngIf="isAuthenticated()">
    <button mat-button (click)="openPostDialog()">Create</button>
  </div>

  <span class="spacer"></span>

  <div *ngIf="!isAuthenticated()">
    <button mat-button routerLink="/sign-in">Sign In</button>
    <button mat-button routerLink="/sign-up">Sign Up</button>
  </div>

  <div *ngIf="isAuthenticated()">
    <button mat-button routerLink="/user-details">{{ currentUser?.displayName }}</button>
    <button mat-stroked-button (click)="signOut()">Logout</button>
  </div>
</mat-toolbar>
