<!-- <p>sign-up works!</p> -->
<mat-card class="center">
  <mat-card-title>Sign Up</mat-card-title>
  <mat-card-content>
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()" class="form">
      <mat-form-field>
        <input matInput formControlName="username" placeholder="Username" name="username" required class="item">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="password" placeholder="Password" type="password" name="password" required class="item">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="displayName" placeholder="Display name" name="displayName" required class="item">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Sign Up</button>
    </form>
  </mat-card-content>
</mat-card>