<!-- <p>sign-up works!</p> -->
<mat-card class="center">
  <mat-card-title>Sign Up</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="signUp()" class="form">
      <mat-form-field>
        <input matInput placeholder="Username" [(ngModel)]="username" name="username" required class="item">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" [(ngModel)]="password" name="password" required class="item">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Displayname" [(ngModel)]="password" name="displayname" required class="item">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Sign Up</button>
    </form>
  </mat-card-content>
</mat-card>